<h2 class="col-md-offset-2">新用户注册</h2><br/>
<div class="col-md-6">
	<input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title=""  placeholder = '请输入用户名'> <br/>
	<input type = 'password' class="form-control" placeholder = '请输入密码' /><br/>
	<input type = 'password' class="form-control" placeholder = '请再次输入密码' /><br/>
	<input type='email' class="form-control" placeholder='请输入邮箱' /><br/>
	<a href="#/welcome" type="button" class="btn btn-primary col-md-12">注册</a>
</div>